<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md-offset3 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header"></div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-block">
                                <input type="text" name="email" lay-verify="required|email" placeholder="请输入邮箱"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-xs7">
                                    <label class="layui-form-label">验证码</label>
                                    <div class="layui-input-block">
                                        <div class="layui-input-prefix">
                                            <i class="layui-icon layui-icon-password"></i>
                                        </div>
                                        <input type="验证码" name="verification" value="" lay-verify="required|vercode"
                                               placeholder="验证码"
                                               lay-reqtext="请填写验证码" autocomplete="off" class="layui-input"
                                               lay-affix="clear" minlength="4" maxlength="4" required>
                                    </div>
                                </div>
                                <div class="layui-col-xs5">
                                    <div class="layui-input-prefix">
                                        <a href="javascript: getCode();" class="layui-btn layui-btn-getcode" disabled>获取验证码</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码</label>
                                <div class="layui-input-block">
                                    <div class="layui-input-prefix">
                                        <i class="layui-icon layui-icon-password"></i>
                                    </div>
                                    <input type="password" name="password" value="" lay-verify="required|password"
                                           placeholder="密   码"
                                           lay-reqtext="请填写密码" autocomplete="off" class="layui-input"
                                           lay-affix="eye" title="6 - 20 位">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-block">
                                <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-password"></i>
                                </div>
                                <input type="password" name="confirmPassword" value=""
                                       lay-verify="required|confirmPassword"
                                       placeholder="确认密码"
                                       lay-reqtext="请填写确认密码" autocomplete="off" class="layui-input"
                                       lay-affix="eye" title="6 - 20 位">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="resetPwd">提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    // thymeleaf 获取当前项目路径
    /*<![CDATA[*/
    const ctx = /*[[@{/}]]*/;
    /*]]>*/
    // 当前窗口 不是最外层窗口
    if (window != window.top) {
        // 父窗口 window.parent，最外层窗口 window.top
        window.top.location.href = ctx;
    }
</script>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var flag = true;
        var  $ = layui.$;
        // 自定义验证规则
        form.verify({
            // 确认密码
            confirmPassword: function (value, item) {
                if (value!== $('input[name="password"]').val()) {
                    return '两次输入的密码不一致';
                }
            }
            // 密码
            , password: function (value, item) {
                [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
                if (!new RegExp(value).test(value)) {
                    return '密码必须6到12位，且不能出现空格';
                    flag = false;
                } else {
                    flag = true;
                }
            }
            // 邮箱
            , email: function (value, item) {
                if (!new RegExp(/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/).test(value)) {
                    return '邮箱格式不正确';
                    flag = false;
                } else {
                    flag = true;
                }
            }
            // 验证码
            , vercode: function (value, item) {
                if (!value) {
                    return '请输入验证码';
                } else if (value.length < 4 || value.length > 4) {
                    return '验证码必须是4位';
                } else {
                    flag = true;
                }
            }
        });
        // 监听提交事件
        form.on('submit(resetPwd)', function (data) {
            var filed = data.field;
            if (flag) {
                $.ajax({
                    url: ctx + 'forget',
                    type: 'POST',
                    data: filed,
                    dataType: 'json',
                    success: function (data) {
                        if (data.code === 200) {
                            layer.msg(data.message, {time: 1000}, function () {
                                window.location.href = ctx + 'login';
                            });
                        } else {
                            layer.msg(data.message, {time: 1000});
                        }
                    }
                });
            }
            return false;
        });
    });

    function startCountdown() {
        layer.msg('验证码已发送', {time: 1000});
        var countdownSeconds = 60; // 倒计时秒数
        var countdownTimer; // 倒计时计时器
        var btnGetCode = document.querySelector('.layui-btn-getcode');
        if (!btnGetCode.disabled) {
            btnGetCode.disabled = true;
            countdownTimer = setInterval(function () {
                countdownSeconds--;
                if (countdownSeconds <= 0) {
                    clearInterval(countdownTimer);
                    btnGetCode.disabled = false;
                    btnGetCode.innerText = '获取验证码';
                } else {
                    btnGetCode.innerText = countdownSeconds + ' 秒后重新获取';
                    btnGetCode.disabled = true;
                }
            }, 1000);
        } else {
            layer.msg('请勿重复点击');
        }
    };

    function getCode() {
        let btnGetCode = document.querySelector('.layui-btn-getcode');
        // 验证邮箱
        if (!/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/.test(document.querySelector('[name=email]').value)) {
            layer.msg('邮箱格式不正确');
            return;
        }
        if (!btnGetCode.disabled) {
            startCountdown();
            btnGetCode.disabled = true; // 禁用按钮
            layui.$.ajax({
                url: ctx + 'sendResetCode',
                type: 'get',
                data: {email: document.querySelector('[name=email]').value},
                dataType: 'json',
                success: function (data) {
                    if (data.code == 200) {
                        layer.msg(data.message, {time: 1000});
                    } else {
                        layer.msg(data.message, {time: 1000});
                    }
                }
            });
        }
    };
</script>
</body>
</html>